# Server
NODE_ENV=development
PORT=3000

# Supabase
SUPABASE_URL=https://xxx.supabase.co
SUPABASE_SERVICE_KEY=sb_secret_xxx

# URLs
FRONTEND_URL=http://localhost:3001

# LINE Login
LINE_LOGIN_CHANNEL_ID=
LINE_LOGIN_CHANNEL_SECRET=

# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=
LINE_ADMIN_USER_ID= # Example: U8622...
